# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [2]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [4]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [16]:
#Install the dependencies

!pip install dlt[duckdb] --index-url https://pypi.org/simple/

Looking in indexes: https://pypi.org/simple/
Requirement already satisfied: dlt[duckdb] in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (0.4.2)
Requirement already satisfied: jsonpath-ng>=1.5.3 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (1.6.1)
Requirement already satisfied: pathvalidate>=2.5.2 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (3.2.0)
Requirement already satisfied: PyYAML>=5.4.1 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (6.0.1)
Requirement already satisfied: pendulum>=2.1.2 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (3.0.0)
Requirement already satisfied: makefun>=1.15.0 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (1.15.2)
Requirement already satisfied: tomlkit>=0.11.3 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (0.12.3)
Requirement already satisfied: requests>=2.26.0 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (2.26.0)
Requirement already satisfied: humanize>=4.4.0 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (4.9.0)
Requirement already satisfied: pytz>=2022.6 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (2023.4)
Requirement already satisfied: click>=7.1 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (7.1.2)
Requirement already satisfied: giturlparse>=0.10.0 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (0.12.0)
Requirement already satisfied: win-precise-time>=1.4.2 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (1.4.2)
Requirement already satisfied: setuptools>=65.6.0 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (69.0.3)
Requirement already satisfied: gitpython>=3.1.29 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (3.1.41)
Requirement already satisfied: fsspec>=2022.4.0 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (2023.12.2)
Requirement already satisfied: tenacity>=8.0.2 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (8.2.3)
Requirement already satisfied: astunparse>=1.6.3 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (1.6.3)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (4.9.0)
Requirement already satisfied: simplejson>=3.17.5 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (3.19.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (2023.4)
Requirement already satisfied: SQLAlchemy>=1.4.0 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (2.0.25)
Requirement already satisfied: requirements-parser>=0.5.0 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (0.5.0)
Requirement already satisfied: semver>=2.13.0 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (3.0.2)
Requirement already satisfied: orjson>=3.6.7 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (3.9.12)
Requirement already satisfied: hexbytes>=0.2.2 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (1.0.0)
Requirement already satisfied: packaging>=21.1 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (21.2)
Requirement already satisfied: duckdb<0.10.0,>=0.6.1 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from dlt[duckdb]) (0.9.2)
Requirement already satisfied: six<2.0,>=1.6.1 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from astunparse>=1.6.3->dlt[duckdb]) (1.16.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from astunparse>=1.6.3->dlt[duckdb]) (0.37.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from gitpython>=3.1.29->dlt[duckdb]) (4.0.9)
Requirement already satisfied: ply in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from jsonpath-ng>=1.5.3->dlt[duckdb]) (3.11)
Requirement already satisfied: pyparsing<3,>=2.0.2 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from packaging>=21.1->dlt[duckdb]) (2.4.7)
Requirement already satisfied: python-dateutil>=2.6 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.8.2)
Requirement already satisfied: time-machine>=2.6.0 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.13.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.26.0->dlt[duckdb]) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.26.0->dlt[duckdb]) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.26.0->dlt[duckdb]) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.26.0->dlt[duckdb]) (1.26.7)
Requirement already satisfied: types-setuptools>=57.0.0 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from requirements-parser>=0.5.0->dlt[duckdb]) (69.0.0.20240125)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from SQLAlchemy>=1.4.0->dlt[duckdb]) (3.0.3)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\jxo5901\appdata\local\programs\python\python310\lib\site-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt[duckdb]) (5.0.0)

WARNING: You are using pip version 21.3.1; however, version 23.3.2 is available.
You should consider upgrading via the 'C:\Users\jxo5901\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

# Solutions

You can use these solutions to self check your results, or to check how the answer can be obtained if you get stuck.

## Solution 1

In [17]:
def sum_of_generator_outputs(generator, limit):
    return sum(next(generator) for _ in range(limit))

# Example usage:
limit_1 = 5
generator_1 = square_root_generator(limit_1)
result_1 = sum_of_generator_outputs(generator_1, limit_1)
print(f"The sum of the outputs for limit={limit_1} is: {result_1}")


def nth_yielded_number(generator, n):
    for _ in range(n - 1):
        next(generator)
    return next(generator)

# Example usage:
n = 13
generator_2 = square_root_generator(n)
result_2 = nth_yielded_number(generator_2, n)
print(f"The {n}th number yielded is: {result_2}")

The sum of the outputs for limit=5 is: 8.382332347441762
The 13th number yielded is: 3.605551275463989

## Solution 2: Append a generator

Load your first generator first, and then load the second one using the "append" operation. Since they have overlapping IDs, some records will appear multiple times.

After loading, you should have a total of 11 records.

Question: Calculate the sum of ages of all the people loaded as described above

In [18]:
# Importing the DLT library
import dlt

# Create a DLT pipeline for the first generator `people_1`
# The pipeline is set to load data into a DuckDB database with the dataset named 'people'
people_1_pipeline = dlt.pipeline(destination='duckdb', dataset_name='people')

# Run the pipeline for the first generator, creating or replacing the table 'people'
info = people_1_pipeline.run(people_1(),
                             table_name="people",
                             write_disposition="replace")

print(f"{info}\n\n")


# Create a second DLT pipeline for the generator `people_2`, targeting the same DuckDB database and dataset
people_2_pipeline = dlt.pipeline(destination='duckdb', dataset_name='people')

# Run the second pipeline, appending data from `people_2` to the existing 'people' table
info = people_2_pipeline.run(people_2(),
                             table_name="people",
                             write_disposition="append")

print(f"{info}\n\n")


# Importing the DuckDB library
import duckdb

# Connect to the DuckDB database created by the first generator
conn = duckdb.connect(f"{people_1_pipeline.pipeline_name}.duckdb")

# Setting the search path to the dataset 'people' and displaying available tables
conn.sql(f"SET search_path = '{people_1_pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))


# Fetching the appended data from the 'people' table and displaying it
data = conn.sql("SELECT * FROM people").df()
display(data)

# Calculate the sum of ages from the combined data of `people_1` and `people_2` in the 'people' table
sum_of_ages_p1_p2 = conn.execute("SELECT SUM(age) FROM people").fetchone()[0]
print(f"\n\nSum of ages from generators `people_1()` and `people_2()` combined: {sum_of_ages_p1_p2}")

Pipeline dlt_ipykernel_launcher load step completed in 0.42 seconds
1 load package(s) were loaded to destination duckdb and into dataset people
The duckdb destination used duckdb:///C:\Users\jxo5901\data-engineering-zoomcamp-1\cohorts\2024\workshops\dlt_resources\dlt_ipykernel_launcher.duckdb location to store data
Load package 1706800587.0626247 is LOADED and contains no failed jobs


Pipeline dlt_ipykernel_launcher load step completed in 0.35 seconds
1 load package(s) were loaded to destination duckdb and into dataset people
The duckdb destination used duckdb:///C:\Users\jxo5901\data-engineering-zoomcamp-1\cohorts\2024\workshops\dlt_resources\dlt_ipykernel_launcher.duckdb location to store data
Load package 1706800588.0500436 is LOADED and contains no failed jobs


Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people              │
└─────────────────────┘

    id      name  age    city        _dlt_load_id         _dlt_id occupation
0    1  Person_1   26  City_A  1706800587.0626247  EkSkh3R0UZEv7Q       None
1    2  Person_2   27  City_A  1706800587.0626247  Fe3jSftGDxkvwg       None
2    3  Person_3   28  City_A  1706800587.0626247  1d8Ea5TbMzWL8w       None
3    4  Person_4   29  City_A  1706800587.0626247  otxobjxX9oqATQ       None
4    5  Person_5   30  City_A  1706800587.0626247  qUvvdk5wXbyi/g       None
5    3  Person_3   33  City_B  1706800588.0500436  4glRDAnr20vF0A      Job_3
6    4  Person_4   34  City_B  1706800588.0500436  DZwagL/AQlxUVw      Job_4
7    5  Person_5   35  City_B  1706800588.0500436  Cl8kFTe7S1+y5A      Job_5
8    6  Person_6   36  City_B  1706800588.0500436  GWrpnEojN+juag      Job_6
9    7  Person_7   37  City_B  1706800588.0500436  5JMpTb9H7U2MNQ      Job_7
10   8  Person_8   38  City_B  1706800588.0500436  7+rHWe8gWnILcw      Job_8

Sum of ages from generators `people_1()` and `people_2()` combined: 353

## Solution 3: Merge a generator

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

In [20]:
import dlt

# Set up a DLT pipeline.
# Currently using DuckDB for local testing, but it can be switched to BigQuery for production.
generators_pipeline = dlt.pipeline(destination='duckdb', dataset_name='people_merge')

# Load data from the first generator `people_1` into 'people_merge' table.
# This operation will replace any existing data in the table.
# A primary key 'ID' is specified for potential future merge operations.
info = generators_pipeline.run(people_1(),
                               table_name="people_v2",
                               write_disposition="replace",
                               primary_key="ID")

# Print metadata of the loading process for the first generator.
print(f"{info}\n\n")

# Load data from the second generator `people_2` into the same 'people_merge' table.
# This operation will merge the new data with existing data based on the primary key 'ID'.
info = generators_pipeline.run(people_2(),
                               table_name="people_merged",
                               write_disposition="merge",
                               primary_key="ID")

# Print metadata of the loading process for the second generator.
print(f"{info}\n\n")

import duckdb

# Establish a connection to the DuckDB database created by the pipeline.
conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

# Set the search path to the dataset 'people_merge' and display the available tables.
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# Display the merged data from the 'people_merged' table.
print("\n\n\nData from the 'people_merged' table:")
data = conn.sql("SELECT * FROM people_merged").df()
display(data)

# Calculate and display the sum of ages from the merged data in 'people_merged' table.
sum_of_ages_p1_p2 = conn.execute("SELECT SUM(age) FROM people_merged").fetchone()[0]
print(f"\n\nSum of ages of people in generator `people_1()` merged with generator `people_2()` is: {sum_of_ages_p1_p2}")

Pipeline dlt_ipykernel_launcher load step completed in 0.27 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_merge
The duckdb destination used duckdb:///C:\Users\jxo5901\data-engineering-zoomcamp-1\cohorts\2024\workshops\dlt_resources\dlt_ipykernel_launcher.duckdb location to store data
Load package 1706800827.9349573 is LOADED and contains no failed jobs


Pipeline dlt_ipykernel_launcher load step completed in 0.42 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_merge
The duckdb destination used duckdb:///C:\Users\jxo5901\data-engineering-zoomcamp-1\cohorts\2024\workshops\dlt_resources\dlt_ipykernel_launcher.duckdb location to store data
Load package 1706800828.7027562 is LOADED and contains no failed jobs


Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people_merged       │
│ people_v2           │
└─────────────────────┘

Data from the 'people_merged' table:

   id      name  age    city occupation        _dlt_load_id         _dlt_id
0   1  Person_1   26  City_A       None  1706800827.9349573  vjiDTBzKtVpZUw
1   2  Person_2   27  City_A       None  1706800827.9349573  7PqPq5hkUJs6hw
2   5  Person_5   35  City_B      Job_5  1706800828.7027562  HzwM69R7Ks0pfA
3   8  Person_8   38  City_B      Job_8  1706800828.7027562  Fh0cqEiS7IEIpg
4   3  Person_3   33  City_B      Job_3  1706800828.7027562  H+QiaGy5Wx/5tA
5   6  Person_6   36  City_B      Job_6  1706800828.7027562  eqqmxm4dI7MhHg
6   7  Person_7   37  City_B      Job_7  1706800828.7027562  3hhEia83BnPsKg
7   4  Person_4   34  City_B      Job_4  1706800828.7027562  G3Iz418Eo/mrjA

Sum of ages of people in generator `people_1()` merged with generator `people_2()` is: 266