In [15]:
import pandas as pd
import pyarrow.parquet as pq
from sqlalchemy import create_engine
from time import time, sleep

In [3]:
pd.__version__

'2.1.1'

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [49]:
pf = pq.read_table('yellow_tripdata_2023-01.parquet')
trips = pf.to_pandas()
#print(trips.head(10))
df_len = trips.shape[0]

In [50]:
# Data Definition Language (DDL): defines the schema
print(pd.io.sql.get_schema(trips, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [37]:
chunk_size = 100000
chunk_count = 0
chunks = [trips.iloc[i:i+chunk_size] for i in range(0, len(trips), chunk_size)]

In [38]:
for df in chunks:
    chunk_count += chunk_size
    if chunk_count >= df_len:
        completion = 100
    else:
        completion = (chunk_count/df_len) * 100
    t_start = time()
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print(f'inserted another chunk, took {(t_end-t_start):.3f} seconds. {completion:.3f} % Complete.')

inserted another chunk, took 12.187 seconds. 3.261 % Complete.
inserted another chunk, took 12.020 seconds. 6.522 % Complete.
inserted another chunk, took 12.227 seconds. 9.782 % Complete.
inserted another chunk, took 12.390 seconds. 13.043 % Complete.
inserted another chunk, took 12.565 seconds. 16.304 % Complete.
inserted another chunk, took 13.073 seconds. 19.565 % Complete.
inserted another chunk, took 12.012 seconds. 22.825 % Complete.
inserted another chunk, took 11.766 seconds. 26.086 % Complete.
inserted another chunk, took 12.996 seconds. 29.347 % Complete.
inserted another chunk, took 13.973 seconds. 32.608 % Complete.
inserted another chunk, took 12.896 seconds. 35.868 % Complete.
inserted another chunk, took 12.997 seconds. 39.129 % Complete.
inserted another chunk, took 12.819 seconds. 42.390 % Complete.
inserted another chunk, took 12.386 seconds. 45.651 % Complete.
inserted another chunk, took 13.057 seconds. 48.911 % Complete.
inserted another chunk, took 12.788 seconds. 52.172 % Complete.
inserted another chunk, took 12.224 seconds. 55.433 % Complete.
inserted another chunk, took 12.525 seconds. 58.694 % Complete.
inserted another chunk, took 12.517 seconds. 61.955 % Complete.
inserted another chunk, took 12.652 seconds. 65.215 % Complete.
inserted another chunk, took 12.359 seconds. 68.476 % Complete.
inserted another chunk, took 12.106 seconds. 71.737 % Complete.
inserted another chunk, took 12.356 seconds. 74.998 % Complete.
inserted another chunk, took 12.653 seconds. 78.258 % Complete.
inserted another chunk, took 12.774 seconds. 81.519 % Complete.
inserted another chunk, took 12.535 seconds. 84.780 % Complete.
inserted another chunk, took 12.239 seconds. 88.041 % Complete.
inserted another chunk, took 12.460 seconds. 91.301 % Complete.
inserted another chunk, took 13.449 seconds. 94.562 % Complete.
inserted another chunk, took 12.694 seconds. 97.823 % Complete.
inserted another chunk, took 7.405 seconds. 100.000 % Complete.