In [1]:
import pandas as pd
import pyarrow.parquet as pq

In [8]:
pd.__version__

'2.1.1'

In [10]:
df = pq.read_table('yellow_tripdata_2023-01.parquet')
trips = df.to_pandas()

In [18]:
print(trips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB
None

In [19]:
print(trips.head)

<bound method NDFrame.head of          VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0               2  2023-01-01 00:32:10   2023-01-01 00:40:36              1.0
1               2  2023-01-01 00:55:08   2023-01-01 01:01:27              1.0
2               2  2023-01-01 00:25:04   2023-01-01 00:37:49              1.0
3               1  2023-01-01 00:03:48   2023-01-01 00:13:25              0.0
4               2  2023-01-01 00:10:29   2023-01-01 00:21:19              1.0
...           ...                  ...                   ...              ...
3066761         2  2023-01-31 23:58:34   2023-02-01 00:12:33              NaN
3066762         2  2023-01-31 23:31:09   2023-01-31 23:50:36              NaN
3066763         2  2023-01-31 23:01:05   2023-01-31 23:25:36              NaN
3066764         2  2023-01-31 23:40:00   2023-01-31 23:53:00              NaN
3066765         2  2023-01-31 23:07:32   2023-01-31 23:21:56              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 0.97         1.0                  N           161
1                 1.10         1.0                  N            43
2                 2.51         1.0                  N            48
3                 1.90         1.0                  N           138
4                 1.43         1.0                  N           107
...                ...         ...                ...           ...
3066761           3.05         NaN               None           107
3066762           5.80         NaN               None           112
3066763           4.67         NaN               None           114
3066764           3.15         NaN               None           230
3066765           2.85         NaN               None           262

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                 141             2         9.30   1.00      0.5        0.00
1                 237             1         7.90   1.00      0.5        4.00
2                 238             1        14.90   1.00      0.5       15.00
3                   7             1        12.10   7.25      0.5        0.00
4                  79             1        11.40   1.00      0.5        3.28
...               ...           ...          ...    ...      ...         ...
3066761            48             0        15.80   0.00      0.5        3.96
3066762            75             0        22.43   0.00      0.5        2.64
3066763           239             0        17.61   0.00      0.5        5.32
3066764            79             0        18.15   0.00      0.5        4.43
3066765           143             0        15.97   0.00      0.5        2.00

         tolls_amount  improvement_surcharge  total_amount  \
0                 0.0                    1.0         14.30
1                 0.0                    1.0         16.90
2                 0.0                    1.0         34.90
3                 0.0                    1.0         20.85
4                 0.0                    1.0         19.68
...               ...                    ...           ...
3066761           0.0                    1.0         23.76
3066762           0.0                    1.0         29.07
3066763           0.0                    1.0         26.93
3066764           0.0                    1.0         26.58
3066765           0.0                    1.0         21.97

         congestion_surcharge  airport_fee
0                         2.5         0.00
1                         2.5         0.00
2                         2.5         0.00
3                         0.0         1.25
4                         2.5         0.00
...                       ...          ...
3066761                   NaN          NaN
3066762                   NaN          NaN
3066763                   NaN          NaN
3066764                   NaN          NaN
3066765                   NaN          NaN

[3066766 rows x 19 columns]>

In [20]:
print(trips.total_amount)

0          14.30
1          16.90
2          34.90
3          20.85
4          19.68
           ...
3066761    23.76
3066762    29.07
3066763    26.93
3066764    26.58
3066765    21.97
Name: total_amount, Length: 3066766, dtype: float64

In [21]:
print(pd.io.sql.get_schema(trips, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)