In [2]:
import pyspark

In [3]:
pyspark.__file__

'C:\\Tools\\spark-3.3.2-bin-hadoop3\\python\\pyspark\\__init__.py'

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-03-05 15:07:11--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.198.40, 52.217.225.0, 52.216.61.152, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.198.40|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.008s

2024-03-05 15:07:12 (1.45 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [ ]:
!head taxi+_zone_lookup.csv

In [ ]:
df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [ ]:
df.show()

In [12]:
df.write.parquet('zones')

In [14]:
!ls -lh

total 28K
-rw-rw-r-- 1 alexey alexey 6.8K Feb 15 22:25 Untitled.ipynb
-rw-rw-r-- 1 alexey alexey  13K Aug 17  2016 taxi+_zone_lookup.csv
drwxr-xr-x 2 alexey alexey 4.0K Feb 15 22:25 zones