In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .appName("Read and Write Parquet to GCS") \
    .getOrCreate()

spark._jsc.hadoopConfiguration().set("google.cloud.auth.service.account.json.keyfile","dtc-de-zoomcamp-410523-29fcc5b444c6.json")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/05 02:37:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/05 02:37:20 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
# Specify the path to the Parquet files in GCS
bucket_name="mage-zoomcamp-jonah-oliver"
path=f"gs://{bucket_name}/ny_taxi_data/service=green/year=2019/*"

df=spark.read.parquet(path)

In [51]:
# Show the DataFrame
df.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2018-12-21 15:17:29|  2018-12-21 15:18:57|                 N|         1|         264|         264|              5|          0.0|        3.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         4.3|           2|        1|                NULL|
|       2| 2019-01-01 00:10:16|  2019-01-01 00:16:32|                 N|         1|          97|          49|              2|         0.86|        6.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         7.3|           2|        1|                NULL|
|       2| 2019-01-01 00:27:11|  2019-01-01 00:31:38|                 N|         1|          49|         189|              2|         0.66|        4.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         5.8|           1|        1|                NULL|
|       2| 2019-01-01 00:46:20|  2019-01-01 01:04:54|                 N|         1|         189|          17|              2|         2.68|       13.5|  0.5|    0.5|      2.96|         0.0|     NULL|                  0.3|       19.71|           1|        1|                NULL|
|       2| 2019-01-01 00:19:06|  2019-01-01 00:39:43|                 N|         1|          82|         258|              1|         4.53|       18.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        19.3|           2|        1|                NULL|
|       2| 2019-01-01 00:12:35|  2019-01-01 00:19:09|                 N|         1|          49|          17|              1|         1.05|        6.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         7.8|           1|        1|                NULL|
|       2| 2019-01-01 00:47:55|  2019-01-01 01:00:01|                 N|         1|         255|          33|              1|         3.77|       13.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        14.8|           1|        1|                NULL|
|       1| 2019-01-01 00:12:47|  2019-01-01 00:30:50|                 N|         1|          76|         225|              1|          4.1|       16.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        17.3|           1|        1|                NULL|
|       2| 2019-01-01 00:16:23|  2019-01-01 00:39:46|                 N|         1|          25|          89|              1|         7.75|       25.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        26.8|           1|        1|                NULL|
|       2| 2019-01-01 00:58:02|  2019-01-01 01:19:02|                 N|         1|          85|          39|              1|         3.68|       15.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        16.8|           1|        1|                NULL|
|       2| 2019-01-01 00:37:00|  2019-01-01 00:56:42|                 N|         1|         223|         238|              1|         6.84|       22.0|  0.5|    0.5|       8.0|        5.76|     NULL|                  0.3|       37.06|           1|        1|                NULL|
|       2| 2019-01-01 00:13:48|  2019-01-01 00:21:00|                 N|         1|         129|         129|              2|         1.15|        6.5|  0.5|    0.5|      1.56|         0.0|     NULL|                  0.3|        9.36|           1|        1|                NULL|
|       2| 2019-01-01 00:19:59|  2019-01-01 00:45:50|                 N|         1|          71|          71|              1|         0.49|       15.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        16.8|           1|        1|                NULL|
|       2| 2019-01-01 00:57:57|  2019-01-01 01:20:10|                 N|         1|          85|         177|              1|         3.61|       17.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        18.3|           1|        1|                NULL|
|       1| 2019-01-01 00:09:02|  2019-01-01 00:17:50|                 N|         1|         256|          80|              1|          1.2|        7.5|  0.5|    0.5|       5.2|         0.0|     NULL|                  0.3|        14.0|           1|        1|                NULL|
|       1| 2019-01-01 00:22:12|  2019-01-01 00:25:29|                 N|         1|          80|          80|              1|          0.5|        4.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         5.3|           2|        1|                NULL|
|       1| 2019-01-01 00:31:55|  2019-01-01 00:52:59|                 N|         1|         256|         229|              1|          5.5|       19.5|  0.5|    0.5|      4.15|         0.0|     NULL|                  0.3|       24.95|           1|        1|                NULL|
|       2| 2019-01-01 00:30:20|  2019-01-01 00:54:19|                 N|         1|         255|         231|              1|         5.01|       20.0|  0.5|    0.5|      4.26|         0.0|     NULL|                  0.3|       25.56|           1|        1|                NULL|
|       2| 2018-12-31 23:58:06|  2019-01-01 00:00:57|                 N|         1|         146|           7|              1|         0.43|        4.0|  0.5|    0.5|      1.06|         0.0|     NULL|                  0.3|        6.36|           1|        1|                NULL|
|       2| 2019-01-01 00:40:17|  2019-01-01 00:50:23|                 N|         1|         146|         129|              1|         2.72|       10.5|  0.5|    0.5|      2.36|         0.0|     NULL|                  0.3|       14.16|           1|        1|                NULL|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [26]:
df.registerTempTable('green')

In [18]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2019-01-01 00:00:00'
GROUP BY
    1, 2
ORDER BY 
    1, 2
""")

In [28]:
path=f"gs://{bucket_name}/ny_taxi_data/service=yellow/year=2019/*"

df=spark.read.parquet(path)

In [30]:
df.registerTempTable('yellow')

In [31]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [32]:
df_yellow_revenue.show()

+-------------------+----+------+--------------+
|               hour|zone|amount|number_records|
+-------------------+----+------+--------------+
|2088-01-24 00:00:00|  24|  15.3|             1|
|2088-01-24 00:00:00|  41|   5.3|             1|
|2041-03-25 01:00:00| 151|  15.8|             1|
|2033-04-27 12:00:00| 107|   7.3|             1|
|2033-04-27 13:00:00| 263|   8.3|             1|
|2033-04-27 12:00:00| 229|  10.8|             1|
|2020-01-03 03:00:00|  97|  9.75|             1|
|2020-01-02 04:00:00| 100| 33.96|             1|
|2020-02-28 17:00:00| 237| 21.36|             1|
|2020-01-15 17:00:00| 233| 11.33|             1|
|2020-01-24 07:00:00| 164| 23.16|             1|
|2020-01-02 00:00:00| 163| 17.25|             1|
|2020-02-07 09:00:00| 233| 32.76|             1|
|2020-01-15 17:00:00| 263| 11.84|             1|
|2020-02-06 01:00:00| 263|  34.3|             1|
|2020-01-02 01:00:00| 164|   8.8|             1|
|2020-01-02 22:00:00| 158| 14.16|             1|
|2020-01-24 07:00:00| 162| 12.96|             1|
|2020-01-02 23:00:00| 186| 15.36|             1|
|2020-01-17 01:00:00| 186| 27.36|             1|
+-------------------+----+------+--------------+
only showing top 20 rows

In [33]:
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2019-01-01 00:00:00|   3|             90.02|             2|
|2019-01-01 00:00:00|   7| 847.5499999999994|            68|
|2019-01-01 00:00:00|  11|              10.3|             1|
|2019-01-01 00:00:00|  14| 77.39999999999999|             3|
|2019-01-01 00:00:00|  16|50.599999999999994|             2|
|2019-01-01 00:00:00|  17|170.85000000000002|            10|
|2019-01-01 00:00:00|  18|             75.71|             3|
|2019-01-01 00:00:00|  20|             47.55|             1|
|2019-01-01 00:00:00|  24|              75.5|             6|
|2019-01-01 00:00:00|  25|1161.3399999999995|            48|
|2019-01-01 00:00:00|  26|              21.3|             1|
|2019-01-01 00:00:00|  28|             21.51|             1|
|2019-01-01 00:00:00|  29|              22.1|             2|
|2019-01-01 00:00:00|  31|              14.8|             1|
|2019-01-01 00:00:00|  32|               7.8|             1|
|2019-01-01 00:00:00|  33| 551.1400000000001|            25|
|2019-01-01 00:00:00|  35|62.900000000000006|             3|
|2019-01-01 00:00:00|  36|             81.66|             3|
|2019-01-01 00:00:00|  37|            122.25|             6|
|2019-01-01 00:00:00|  39|             82.36|             2|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [45]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [48]:
bucket_name="mage-zoomcamp-jonah-oliver"
path=f"gs://{bucket_name}/ny_taxi_data/service=green/year=2019/report/revenue/"

df_green_revenue_tmp \
    .repartition(20) \
    .write.parquet(path, mode='overwrite')

In [35]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')